# Terraform-generated dynamic inventory for Ansible
terraform_outputs:
  haproxy_public_ip: ${haproxy_public_ip}
  webserver1_private_ip: ${webserver1_private_ip}
  webserver2_private_ip: ${webserver2_private_ip}
  key_file: ${key_file}